body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    padding: 0 20px;
    flex-grow: 1;
}

header .nav-buttons {
    padding: 0 20px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

form {
    margin: 20px 0;
}

label, input {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

a.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 5px;
}

a.btn:hover {
    background-color: #555;
}

form button {
    background-color: #555;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}

form button:hover {
    background-color: #333;
}

a.home {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
}

a.home:hover {
    background-color: #555;
}
