
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practico_Flask1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="home">Home</a>
        <h1>Bienvenido al proyecto FLASK 1</h1>
        <div class="nav-buttons">
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
